@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 30px;
  /* 為了讓圖片可以完整顯示 */
}

h2 {
  font-size: 40px;
  line-height: 38px;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

* {
  font-family: "Noto Sans TC", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 345px;
    margin: 0 auto;
  }
}

.helf-width {
  width: 50%;
}

.btn {
  width: 78%;
  height: 60px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  opacity: 1;
  background-color: transparent;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .header {
    width: 100%;
    height: 56px;
  }
}
.header .logo a {
  display: block;
  background: url("../images/d’Perfume.png") no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: 128px 38px;
}
.header .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .list-box .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}
.header .list-box .header-list .header-list-item {
  padding-right: 33px;
}
@media (max-width: 767px) {
  .header .list-box .header-list .header-list-item {
    display: none;
  }
}
.header .list-box .header-list .header-list-item i {
  padding-right: 3px;
}
.header .list-box .header-list .header-list-item a {
  color: #8D8D8D;
}
.header .list-box .header-list .header-list-item:hover i, .header .list-box .header-list .header-list-item:hover span {
  color: #AC8A46;
}
@media (max-width: 767px) {
  .header .list-box .mobile-cart {
    display: block;
    position: relative;
    margin-right: 30px;
  }
  .header .list-box .mobile-cart i {
    font-size: 22px;
    color: #8D8D8D;
  }
  .header .list-box .mobile-cart .mobile-cart-count {
    position: absolute;
    top: -5px;
    left: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #916000;
    color: white;
    width: 16px;
    height: 13px;
    border-radius: 7px;
  }
}
@media (max-width: 767px) {
  .header .list-box .hamburger-line {
    width: 40px;
    height: 6px;
    background-color: #8D8D8D;
    margin: auto;
    border-radius: 2px;
    -webkit-box-shadow: 0px 14px 0px #8D8D8D, 0px -14px 0px #8D8D8D;
            box-shadow: 0px 14px 0px #8D8D8D, 0px -14px 0px #8D8D8D;
    display: block;
  }
}

.hamburger, .mobile-cart {
  display: none;
}

.subscribe {
  height: 600px;
  background-image: url("../images/compression/index10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -350px;
  position: relative;
}
@media (max-width: 767px) {
  .subscribe {
    width: 100%;
    height: 600px;
    background-position-y: 0px;
    margin: 0 auto;
  }
}
.subscribe .subscribe-text {
  width: 35%;
  position: absolute;
  top: 312px;
  left: 405px;
}
@media (max-width: 767px) {
  .subscribe .subscribe-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.subscribe .subscribe-text h3 {
  color: #8D8D8D;
}
.subscribe .subscribe-text input {
  height: 60px;
  margin-top: 20px;
  border: 2px solid #916000;
}
.subscribe .subscribe-text input::-webkit-input-placeholder {
  padding-left: 16px;
}
.subscribe .subscribe-text input::-moz-placeholder {
  padding-left: 16px;
}
.subscribe .subscribe-text input:-ms-input-placeholder {
  padding-left: 16px;
}
.subscribe .subscribe-text input::-ms-input-placeholder {
  padding-left: 16px;
}
.subscribe .subscribe-text input::placeholder {
  padding-left: 16px;
}
.subscribe .subscribe-text input[type=text] {
  margin-right: 0;
  width: 68%;
}
.subscribe .subscribe-text input[type=button] {
  background-color: #916000;
  width: 130px;
  width: 31%;
  border: none;
  border-radius: 0px 4px 4px 0px;
  font-size: 16px;
  color: white;
}
.subscribe .subscribe-text input[type=button]:hover {
  background-color: #784f00;
}

.footer {
  background-color: #916000;
}
.footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-box .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-box .logo-box p {
  color: white;
  font-size: 14px;
}
.footer .footer-box .logo {
  display: block;
  background: url("../images/d’Perfumewhite.png") no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}
.footer .footer-box .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 263px;
  padding: 28px 0;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .footer-box .footer-list {
    display: none;
  }
}

.banner {
  background: url("../images/compression/index1.jpg") no-repeat;
  height: 870px;
  width: 100%;
  background-size: cover;
  background-position-y: -150px;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .banner {
    width: 100%;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.banner .banner-text {
  max-width: 445px;
  color: white;
  position: absolute;
  top: 295px;
  right: 405px;
}
@media (max-width: 767px) {
  .banner .banner-text {
    top: 101px;
    right: 15px;
    width: 345px;
  }
}
.banner .banner-text p {
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .banner .banner-text p {
    font-size: 20px;
  }
}
.banner .banner-text .btn {
  display: block;
  font-size: 24px;
  line-height: 36px;
  color: white;
}
@media (max-width: 767px) {
  .banner .banner-text .btn {
    max-width: 100%;
  }
}
.banner .banner-text .btn:hover {
  background-color: #fefefe;
  color: #AC8A46;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .content-box-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.content .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .content .content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content .content-box .img-box1 {
  height: 555px;
  background: url("../images/compression/index2.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .content .content-box .img-box1 {
    height: 350px;
    width: 345px;
  }
}
.content .content-box .img-box2 {
  height: 555px;
  background: url("../images/compression/index3.png") no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .content .content-box .img-box2 {
    height: 350px;
    width: 345px;
  }
}
.content .content-box .img-box3 {
  height: 555px;
  background: url("../images/compression/index4.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .content .content-box .img-box3 {
    height: 350px;
    width: 345px;
  }
}
.content .content-box .text-box {
  width: 30%;
  margin: 0 auto;
  margin-top: 159px;
}
@media (max-width: 767px) {
  .content .content-box .text-box {
    width: 345px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
.content .content-box .text-box p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.content .content-box .text-box a {
  color: #AC8A46;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1080px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 300px;
    margin: 0 auto;
    margin-bottom: 300px;
  }
  .description img {
    width: 350px;
    height: 680px;
  }
}
.description .description-text-box {
  width: 32%;
  margin-top: 92px;
  margin-left: 110px;
}
@media (max-width: 767px) {
  .description .description-text-box {
    margin: 0;
    margin-top: 8px;
    width: 345px;
  }
}
.description .description-text-box .description-text {
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .description .description-text-box .description-text {
    margin-bottom: 20px;
  }
}
.description .description-text-box .description-text p {
  font-size: 16px;
  line-height: 24px;
}
.description .description-text-box .btn-sub {
  border: 2px solid #000000;
  font-size: 20px;
}
@media (max-width: 767px) {
  .description .description-text-box .btn-sub {
    width: 90%;
  }
}
.description .description-text-box .btn-sub:hover {
  border: 2px solid #AC8A46;
  color: #AC8A46;
  cursor: pointer;
}

.product {
  background-color: #E0E0E0;
}
@media (max-width: 767px) {
  .product {
    width: 100%;
  }
}
.product .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .product .product-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 36px;
  }
}
.product .product-box .product-item {
  font-size: 16px;
  line-height: 24px;
  padding-right: 29px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 33%;
  position: relative;
}
@media (max-width: 767px) {
  .product .product-box .product-item {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 0;
  }
}
.product .product-box .product-item img {
  width: 100%;
  height: 540px;
}
@media (max-width: 767px) {
  .product .product-box .product-item img {
    width: 344px;
    height: 350px;
  }
}
.product .product-box .product-item span {
  color: #8D8D8D;
  text-decoration: line-through;
}
.product .product-box .product-item .sold-out-item {
  width: 92%;
  height: 540px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .product .product-box .product-item .sold-out-item {
    width: 100%;
    height: 73%;
    background-size: cover;
    background-position-x: -100px;
  }
}
.product .product-box .product-item .sold-out-item p {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product .product-box .product-item .price {
  margin-top: 16px;
}
@media (max-width: 767px) {
  .product .product-box .product-item .price {
    margin-top: 0;
  }
}

.more-info {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .more-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}
.more-info .more-info-imgbox {
  width: 66%;
  height: 520px;
  margin-right: 30px;
  background: url("../images/compression/index9.jpg") no-repeat;
  background-size: contain;
}
@media (max-width: 767px) {
  .more-info .more-info-imgbox {
    width: 100%;
    height: 520px;
    background-size: cover;
    background-position-x: -100px;
  }
}
.more-info .info-text {
  width: 33%;
  margin-top: 82px;
}
@media (max-width: 767px) {
  .more-info .info-text {
    width: 345px;
    margin-top: 8px;
  }
}
.more-info .info-text .subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.more-info .info-text p {
  font-size: 16px;
  line-height: 24px;
}
.more-info .info-text a {
  color: #AC8A46;
}

.navbar {
  background-color: #916000;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}
.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
}
.navbar .nav-list li {
  margin-left: 28px;
  font-size: 20px;
  line-height: 30px;
}
.navbar .nav-list li a {
  color: white;
}
.navbar .nav-list li a:hover {
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 82px;
}
@media (max-width: 767px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main img {
  width: 730px;
  height: 730px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .main img {
    width: 345px;
    height: 220px;
  }
}
.main .login-box h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .main .login-box h1 {
    margin-top: 28px;
  }
}
.main .login-box p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
}
.main .login-box input {
  width: 350px;
  height: 38px;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .main .login-box input {
    margin-bottom: 20px;
  }
}
.main .login-box input::-webkit-input-placeholder {
  padding-left: 12px;
  font-size: 16px;
  color: #818A91;
}
.main .login-box input::-moz-placeholder {
  padding-left: 12px;
  font-size: 16px;
  color: #818A91;
}
.main .login-box input:-ms-input-placeholder {
  padding-left: 12px;
  font-size: 16px;
  color: #818A91;
}
.main .login-box input::-ms-input-placeholder {
  padding-left: 12px;
  font-size: 16px;
  color: #818A91;
}
.main .login-box input::placeholder {
  padding-left: 12px;
  font-size: 16px;
  color: #818A91;
}
.main .login-box a {
  font-size: 16px;
  line-height: 24px;
  color: #916000;
  font-weight: bold;
}
.main .login-box .login-btn {
  font-size: 16px;
  line-height: 22px;
  margin-top: 43px;
  height: 38px;
  width: 65px;
  border: 1px solid #916000;
  border-radius: 4px;
  background-color: white;
  color: #916000;
}
.main .login-box .signup-btn {
  margin-left: 147px;
}
@media (max-width: 767px) {
  .main .login-box .signup-btn {
    margin-left: 142px;
  }
}
.main .login-box .signin-btn, .main .login-box .signup-btn:hover {
  background-color: #916000;
  color: white;
}