.banner{
  @include imgReplace('../images/compression/index1.jpg');
  background-position: -20px 0;
  height: 870px;
  width: 100%; 
  position: relative;
  margin-bottom: 60px;
  @include mobile{
    width: 100%;
    height: 480px;
    margin:0 auto;
    margin-bottom: 40px;
  }
  .banner-text{
    max-width: 445px;
    color:white;
    position: absolute;
    top:295px;
    right: 250px;
    @include mobile{
      top: 101px;
      right: 15px;
      width: 345px;
    }
    p{
      @include text-size(24px,36px);
      @include mobile{
       font-size: 20px;
      }
    } 
    .btn{
      @include text-size(24px,36px);
      color:white;
      @include mobile{
        max-width: 100%;
      }
    }
    .btn:hover{
      background-color: #fefefe;
      color:$highlight-color; 
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  .content-box-reverse{
    flex-direction: row-reverse;
  } 
  .content-box{
    display: flex;
    @include mobile{
      flex-direction: column;
      align-items: center;
    };
    .img-box1{
      @include imgBox('../images/compression/index2.jpg');
      @include mobile{
        height: 350px;
        width: 345px;      
      };
    }
    .img-box2{
      @include imgBox('../images/compression/index3.png');
      @include mobile{
        height: 350px;
        width: 345px;      
      };
    }
    .img-box3{
      @include imgBox('../images/compression/index4.jpg');
      @include mobile{
        height: 350px;
        width: 345px;      
      };
    }
    .text-box{
      width: 30%;
      margin:0 auto;
      margin-top: 159px; 
      @include mobile{
        width: 345px;
        margin-top: 8px;
        margin-bottom: 32px;
      } ;
      p{
        @include text-size(20px,30px);
        margin-bottom: 16px;
      }
      a{
        color:$highlight-color;
      }
    }
  }

}

.description{
  display:flex;
  height:1080px;
  margin-bottom: 60px;
  @include mobile{
    flex-direction: column;
    margin-bottom: 300px;
    margin: 0 auto;
    margin-bottom: 300px;
    img{
      width: 350px;
      height: 680px;
    }    
  }
  .description-text-box{
    width: 32%;
    margin-top: 92px;
    margin-left: 110px;
    @include mobile{
      margin: 0;
      margin-top: 8px;
      width: 345px;
    }
    .description-text{
       margin-bottom: 52px;
       @include mobile{
        margin-bottom: 20px;
       }
       p{
        font-size: 16px;
        line-height: 24px;
       }
    }
    .btn-sub{
      border:2px solid #000000;
      font-size: 20px;
      @include mobile{
        width: 90%;
      }
      &:hover{
        border:2px solid $highlight-color;
        color:$highlight-color;
        cursor: pointer;
      }
    }
  }
}

.product{
  background-color: #E0E0E0;  
  @include mobile{
    width: 100%;
  }
  .product-box{
    display: flex;    
    @include mobile{
      flex-direction: column;
      margin-bottom: 36px;     
    }
    .product-item{
      @include text-size(16px,24px);
      padding-right: 29px;
      margin-top: 40px;
      margin-bottom: 40px;
      width: 33%;
      position: relative;
      @include mobile{
        width: 100%;
        margin-top: 32px;  
        margin-bottom: 0;
      }
      img{
        width: 100%;
        height: 540px;
        @include mobile{
          width: 344px;
          height: 350px;          
        }
      }
      span{
        color:$basic-color;
        text-decoration: line-through ;
      }
      .sold-out-item{
        width: 92%;
        height: 540px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .3); 
        @include mobile{
          width: 100%;
          height: 73%;
          background-size: cover;
          background-position-x: -100px; 
        }
        p{
          font-size: 24px;
          color:white;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .price{
         margin-top: 16px;
         @include mobile{
           margin-top: 0;
         }
      }
    }
  }
}

.more-info{
  margin-top: 60px;
  display: flex;
  @include mobile{
    flex-direction: column;
    margin-bottom: 40px;
  }
  .more-info-imgbox{
    width: 66%;
    height: 520px;
    margin-right: 30px;
    background: url('../images/compression/index9.jpg') no-repeat;
    background-size: contain;
    @include mobile{
      width: 100%;
      height: 520px;
      background-size: cover;
      background-position-x: -100px;
    }
  }
  .info-text{
    width: 33%;
    margin-top: 82px;
    @include mobile{
      width: 345px;
      margin-top: 8px;
    }
    .subtitle{
      @include text-size(20px,30px);
      margin-bottom: 16px;
    }
    p{
      @include text-size(16px,24px);
    }
    a{
      color:$highlight-color;
    }
  }
}